h3 {
    color: skyblue;
}

/* Änderung der Schriftart für Überschriften */
h1 {
    color: coral;
    font-family: Arial, sans-serif;
  }
ul {
    color: rgb(227, 31, 31);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    font-style: italic;
    color: darkblue;
}
.Knopf {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
}
.Knopf:hover {
    background-color: #3e8e41; /* Hintergrundfarbe bei Hover */
  }